<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080984009317-bjd828e0ptua22jc0e3igv3qa48t8rc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080984009317-bjd828e0ptua22jc0e3igv3qa48t8rc4</string>
	<key>API_KEY</key>
	<string>AIzaSyDXLDML7Z_C3OUg0apO6SPvScGOPv3kueU</string>
	<key>GCM_SENDER_ID</key>
	<string>1080984009317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gael.cookit</string>
	<key>PROJECT_ID</key>
	<string>cookit-f2d53</string>
	<key>STORAGE_BUCKET</key>
	<string>cookit-f2d53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080984009317:ios:590bde372b44b077cfa48c</string>
	<key>DATABASE_URL</key>
	<string>https://cookit-f2d53.firebaseio.com</string>
</dict>
</plist>